body{
    font-family: '';
}

hr{
    text-decoration-thickness: 4px;
}

lable{
    color:aliceblue;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

h5{
    text-align: center;
}

h6{
    text-align: center;
}

.small_text{
    font-size:10px;
}